<header class="header" id="header">
    <div class="container" id="container__header">
        <div class="header__inner">
                    <nav class="nav" id="nav">
                <a class="nav__logo2" href="#" data-scroll="#main"> <img src="{{ 'assets/images/vertex-logo.webp'|theme }}"> </a>
                <a class="nav__link" href="#" data-scroll="#maps">truck box nearby</a>
                <a class="nav__link" href="#" data-scroll="#about">Services</a>
                <a class="nav__link" href="#" data-scroll="#services">advantages</a>
                <a class="nav__link" href="#" data-scroll="#team">our office</a>
                <a class="nav__link" href="#" data-scroll="#footer">contacts</a>
            </nav>
            <nav class="nav">
                <i class="fa fa-phone" style="transform: scaleX(-1);"></i>

                <h4 class="nav__link">+1 (267) 945-9442</h4>
                <h4 class="nav__link">info@vertextransportation.llc</h4>
                <a class="btn_consultation" href="#" data-scroll="#Consultation">Consultation</a>
            </nav>
            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
</header>
