description = "Default layout"

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">   <!-- мой шрифт -->
    <meta name="description" content="Professional freight forwarding, truckload & LTL shipping, cross-border logistics, and warehousing. Get competitive containerized freight rates & secure cargo insurance.">
    <title>Vertex</title>
    {% styles %}
    {% component 'SeoCmsPage' %}
</head>
<body>

    {% partial 'header' %}
    <div class="page">
        {% page %}
    </div>


    <!--Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" defer></script>
    <script type="text/javascript">
        jQuery(function($){
            // Применяем маску ко всем полям с type="tel"
            $('input[type="tel"]').mask("+1 (999) 399-9999");
        });
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
